{deps, [
   {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.5.0-rc1"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc1"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
   %% Alternatively, you can use the Gitlab mirror with the following:
   %% $ rebar3 as gitlab compile
   {gitlab, [
     {deps, [
        {'lfe-version', {git, "https://gitlab.com/lfe-rebar3/version.git", {tag, "0.5.0-rc1"}}}]},
     {plugins, [
         {'lfe-compile', {git, "https://gitlab.com/lfe-rebar3/compile.git", {tag, "0.8.0-rc1"}}}]}
      ]},
   %% Or use Hex.pm instead with:
   %% $ rebar3 as hexpm compile
   {hexpm, [
     {deps, [
        {rebar3_lfe_version, "0.5.0-rc1"}]},
     {plugins, [{rebar3_lfe_compile, "0.8.0-rc1"}]}
    ]},
   {dev,
     [{deps,
       [{lfe, {git, "https://github.com/rvirding/lfe.git", {tag, "v1.2.0"}}}]}
    ]},
   {test,
     [{deps,
        [{ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.10.0-rc1"}}}]},
      {eunit_opts, [verbose]},
      {eunit_compile_opts, [
        {src_dirs, ["test"]}
        ]}
      ]}
  ]}.
